<html>

<!-- Look in the static folder to see the magic! -->

<head>
    <title>BENCHOP As A Service</title>
</head>

<body align="center">

    <h2>BENCHOP-AAS Results</h2>
    <h3>Desired style: {{ style }}</h3>
{% if style is equalto "html" %}
{{ results|safe }}
{% else %}
    <pre>
    <code>
        {{ results }}
    </code>
    </pre>
{% endif %}
    <a href="/">Go back to the selection page</a>
</body>

</html>