<html>

<!-- Look in the static folder to see the magic! -->

<head>
    <title>BENCHOP As A Service</title>
    <link rel="stylesheet" href="{{url_for('static', filename='loading.css')}}">
    <script src="{{url_for('static', filename='loading.js')}}"></script>
</head>

<body align="center">

    <!-- Will become a magic loader later. Check the CSS and the JS! -->
    <div id="loader">
    </div>

    <h2>BENCHOP-as-a-Service</h2>
    <h2>Chose method and problem to run</h2>
    <form method=post enctype=multipart/form-data>

        <h3>Methods</h3>
{% for m in methods %}
            <input type="checkbox" name="method" value="{{m}}" checked>{{m}}<br>
{% endfor %}
        <h3>Problems</h3>
{% for p in problems %}
            <input type="checkbox" name="problem" value="{{p}}" checked>{{p}}<br>
{% endfor %}
        <h3>Style</h3>

            <label><input type="radio" name="style" value="html" checked >HTML</label><br>

            <label><input type="radio" name="style" value="latex">LaTeX</label><br>

            <label><input type="radio" name="style" value="python">Python</label><br>

            <br><input type=submit value=Run onclick="loading();"><br>
    </form>
</body>

</html>